/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*----------------------------------------------------------------------------------------------------------------------------------
Boiler plate styling
-----------------------------------------------------------------------------------------------------------------------------------------*/
html, a {
	font-family:sans-serif;
  text-decoration:none;
}

html body {
	color:#222;
} 

html, button, input, select, textarea {
  color:#222222;
}

html, button, input, select, textarea {
  font-family:sans-serif;
}

/*----------------------------------------------------------------------------------------------------------------------------------
Header Branding styling
-----------------------------------------------------------------------------------------------------------------------------------------*/
.zone-branding-wrapper {
	background:#F7F7F7
}

.zone-branding-wrapper h2,
.zone-header-wrapper h2 {
	display:none;
}

.region-branding ,
.region-header-first {
	margin:0;
	float:left;
}

.region-branding {
	width:25%;
}

.region-header-first {
	width:75%;
}

.zone-branding-wrapper .logo-img {
  margin:4px;
  margin-left:40px;
}

.region-header-first ul.menu {
	float:right;
}

.region-header-first ul.menu li {
	display:inline;
}

.zone-branding-wrapper ul.menu li.first {
  color:#FFFFFF;
  font-size:16px;
  text-align:center;
	font-weight:bold;
}

.zone-branding-wrapper ul.menu li.first a {
  color:#FFFFFF;
  text-decoration:none;
  background-color:#9DBB2D;
  padding:17px 75px;
}

.not-logged-in .zone-branding-wrapper ul.menu li.last {
  color:#676868;
  font-size:11px;
	border-left:thin solid #ddd;
}

.not-logged-in .zone-branding-wrapper ul.menu li.last a {
  color:#676868;
  padding:10px 20px;
  text-decoration:none;
}

/*----------------------------------------------------------------------------------------------------------------------------------
Header Nav styling
-----------------------------------------------------------------------------------------------------------------------------------------*/
.zone-header-wrapper {
	background:#E9E9E9;
  border: 2px solid #E2DEDF;
}

.zone-header-wrapper ul.menu {
	padding-top:5px;
	margin-bottom:0;
	text-transform:uppercase;
}

.zone-header-wrapper ul.menu li {
	display:inline-block;
  border-radius:5px 5px 0 0;
  border:1px solid #E2DEDF;
  color:#ADADAF;
  cursor:pointer;
  font-size:13px;
  margin:0 4px;
  padding:5px 25px 0 50px;
}

.zone-header-wrapper ul.menu li {
  color:#EC7721;
}

.zone-header-wrapper ul.menu li.first {
  background:#fff url(../images/iconMapView.png) no-repeat;
  background-position:22px 8px;
}

.zone-header-wrapper ul.menu li.last {
  background:#E9E9E9 url(../images/iconListViewInactive.png) no-repeat;
  background-position:22px 8px;
}

.zone-header-wrapper ul.menu li a {
	text-decoration:none;
}
	
.zone-header-wrapper ul.menu li.first a {
	color:#EC7721;
}

.zone-header-wrapper ul.menu li.last a {
	color:#ADADAF;
}

.zone-header-wrapper:after {
	/*padding-bottom:5px;
	background:#F7F7F7;*/
}
/*----------------------------------------------------------------------------------------------------------------------------------
Content styling
-----------------------------------------------------------------------------------------------------------------------------------------*/
.zone-content #region-content {
  margin:0;
}

.zone-content #breadcrumb {
  margin:0;
  background:#555;
  color:#fff;
  text-transform:uppercase;
}

.zone-content #breadcrumb .breadcrumb {
  padding:5px 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
Content Popup styling
-----------------------------------------------------------------------------------------------------------------------------------------*/
div.olControlPanZoomBar {
		right:50px;
}

div.olControlMaptext {
  left:50px;
  top:20px;
}

div.olControlMaptext.btns {
  background:#EEECED;
  width:194px;
  border:1px solid #DEDEDE;
  font-family:sans-serif;
}

div.olControlMaptext h3 {
	padding:5px;
	text-transform:uppercase;
	font-size:0.8em;
	margin-bottom:0;
  background:#999 url(../images/collapser.png) no-repeat right;
	background-position:95% 50%;
	color:#fff;
	font-family:sans-serif;
}

div.bnContainer  a {
  background:#FFFFFF url(../images/flyoutRightActive.png) no-repeat right;
	background-position:95% 50%;
  border:1px solid #D6D6D6;
  border-radius:4px;
  color:#444445;
	font-family:sans-serif;
  font-size:1em;
  margin:4px 5%;
	padding:2.5%;
  text-transform:uppercase;
	width:85%;
	color:#EC7721;
}

div.bnContainer a.toggle_button.down {
  border:1px solid #D6D6D6;
  background:#FFFFFF url(../images/flyoutRight.png) no-repeat;
	background-position:95% 50%;
	color:#444;
}

div.olControlMaptext .maptext {
	left:194px;
	top:24px;
	border:1px solid #D2CCCD;
	width:300px;
}

.region-content .maptext a {
  color:#444445;
}

div.maptext h2.popup-title {
  background-color:#fff;
	margin-bottom:0px;
	color:#EC7721;
	text-transform:uppercase;
	font-family:sans-serif;
	font-size:1.4em;
}

div.maptext h2.popup-title a {
	color:#EC7721;
}

div.maptext h2.popup-title a:hover {
	color:#EC7721;
	text-decoration:underline;
}

.maptext .popup-content {
  background-color:#fff;
  color:#333;
  opacity:1;
}

span.pieLabel div {
  color:#333333 !important;
}

div.olControlMaptext .maptext p {
	padding:5px 10px;
}

div.maptext {
	position:relative;
}

div.maptext h2 a{
	padding:5px 10px;
	width:auto;
}

div.maptext a.popup-close {
	position:absolute;
	right:10px;
	top:8px;
	font-weight:bold;
	color:transparent;
	width:14px;
	height:13px;
  background:url(../images/closer.png) no-repeat;
}

div.maptext a.popup-close:hover {
	color:transparent;
}

div.olControlMaptext .maptext ul {
	margin:10px;
}

div.olControlMaptext .maptext ul li {
	list-style-image:none;
	padding:5px 0px;
}

div.olControlMaptext .maptext ul li a:hover {
	color:#EC7721;
}

a.facetapi-limit-link {
	margin-left:10px;
	font-weight:bold;
}

div.openlayers-map .openlayers_plus-blockswitcher {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 10px;
    width: auto;
    z-index: 3000;
}

div.openlayers-map .openlayers_plus-blockswitcher h2 {
    font-family:sans-serif;
		font-size:18px;
		margin-bottom:10px;
}

#openlayers-map .olControlZoomPanel {
    left: auto;
    right: 75px;
    top: 20px;
}

#openlayers-map .olControlZoomPanel div {
    cursor: pointer;
    height: 42px;
    position: absolute;
    width: 42px;
		background:url(../images/map-buttons.png) no-repeat;
}

#openlayers-map .olControlZoomPanel div.olControlZoomInItemInactive {
		top:0px;
}

#openlayers-map .olControlZoomPanel div.olControlZoomToMaxExtentItemInactive {
		display:none;
}

#openlayers-map .olControlZoomPanel div.olControlZoomOutItemInactive {
		top:42px;
		background-position:0 -42px;
}

/*
#openlayers-map .olControlZoomPanel .olControlZoomInItemInactive {
    height: 42px;
    width: 42px;
}*/
/*----------------------------------------------------------------------------------------------------------------------------------
Footer styling
-----------------------------------------------------------------------------------------------------------------------------------------*/
/*
.zone-footer-wrapper {
  color:#4D4B4B;
  font-size:11px;
  height:auto;
	padding:2px 0;
  margin-left:30px;
}

#region-footer-first {
height: auto;
}
*/

/*--------------------Annoying Thing---------------------------------*/
div.openlayers-map .openlayers_plus-blockswitcher.nw {
display:none;
}
